<ion-header [translucent]="true" >
  <ion-toolbar color="rosa escuro">
    <ion-title>
     Lista de contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  >

  <ion-content >
    <ion-list>
      <ion-item (click)="goToRoute('ariane')" >
        <ion-avatar slot="start">
       <img src="../../assets/icon/ari.jpg" alt="">
        </ion-avatar>
        <ion-label>Ariane Rodokas</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item (click)="goToRoute('ana')">
        <ion-avatar slot="start">
       <img src="../../assets/icon/ana.jpg" alt="">
        </ion-avatar>
        <ion-label>Ana Clara Duarte</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item (click)="goToRoute('duda')">
        <ion-avatar slot="start">
       <img src="../../assets/icon/duda.jpg" alt="">
        </ion-avatar>
        <ion-label>Maria Eduarda Gigliolli </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-avatar slot="start" (click)="goToRoute('gabi')">
       <img src="../../assets/icon/gabi.jpg" alt="">
        </ion-avatar>
        <ion-label>Gabriela Vitória</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item (click)="goToRoute('mari')">
        <ion-avatar slot="start">
       <img src="../../assets/icon/mari.jpg" alt="">
        </ion-avatar>
        <ion-label>Mariana Rove</ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

</ion-content>
