#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-avatar img  {
  width:120% !important;
  height : 120% !important;
  max-width: 80px !important;  //any size
  max-height: 80px !important; //any size
  }

  ion-list{
    width: 20cm;
    height :2.5cm;
  }
ion-list{

  background-color: rgb(240, 248, 255);
}

h1{
  
  font-size: 200%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  background-color: rgb(240, 248, 255);
}
