<ion-header [translucent]="true">
  <ion-toolbar color="rosa-dois">
    <ion-title color="light">Ariane Rodokas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosa-escuro">


  <ion-card>
    <img src="../../assets/icon/ari.jpg" alt="">
    <hr>
    <ion-card-header>
      <ion-card-title >Ariane Rodokas Barbosa</ion-card-title>
      <ion-card-subtitle>Id: 00001</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      barbosaarianerodokas@gmail.com
    </ion-card-content>
  </ion-card>

<div>
  <ion-card class="icons">
          <ion-icon name="call-outline"></ion-icon>
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-icon name="videocam-outline"></ion-icon>
  </ion-card>
  </div>
</ion-content>
